<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect semua request ke folder public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Keamanan: Cegah akses ke file sensitif
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "\.(env|log|md|json|lock)$">
    Order allow,deny
    Deny from all
</FilesMatch>
